# Port de l'API Express (interne au réseau Docker)
PORT=5000

# Connexion MongoDB — service Docker "mongodb"
MONGO_URI=mongodb://mongodb:27017/taskflow

# Version affichée dans GET /health
APP_VERSION=1.0.0
